.theme-toggle {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 36px;
  }
  
  .dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  .light-mode {
    background-color: #ffffff;
    color: #121212;
  }
  